[tool.isort]
profile = "black"
multi_line_output = 3
order_by_type = false

[tool.mypy]
disallow_incomplete_defs = true
disallow_untyped_defs = true
files = "."
exclude = "venv"

[tool.semantic_release]
branch = "main"
version_variable = "gitlab/__version__.py:__version__"
commit_subject = "chore: release v{version}"
commit_message = ""